.DS_STORE
*.log
node_modules
.babelrc
.eslintrc
.editorconfig
.gitattributes
.gitignore
.github
tsconfig.json
*.afdesign
/src
/icons
/dist/processors
/dist/build.*
/tests
/bin

# ignore the .ts files
*.ts

# include the .d.ts files
!*.d.ts

# ignore icon declaration files
/dist/icons/*.d.ts
