var icons = {};

{{#icons}}

if (!icons['{{{name}}}']) {
    icons['{{{name}}}'] = {};
}

icons['{{{name}}}']['{{{theme}}}'] = require('./icons/{{{category}}}.{{{theme}}}.{{{name}}}.json');
{{/icons}}

module.exports = icons;